services:
  - type: web
    name: apikeymanagement
    runtime: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET_KEY
        generateValue: true
      - key: MAIL_HOST
        value: smtp.gmail.com
      - key: MAIL_PORT
        value: 587
      - key: MAIL_USERNAME
        sync: false
      - key: MAIL_PASSWORD
        sync: false
      - key: MAIL_FROM_ADDRESS
        sync: false
      - key: MAIL_FROM_NAME
        value: KEY MANAGEMENT ADMINISTRATOR
      - key: CORS_ORIGINS
        value: "*"
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: 60
      - key: OTP_EXPIRE_MINUTES
        value: 10
